@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

:root {
  --fiord: #3e4d70;
  --scorpion: #5e5e5e;
  --orange: #d18313;
  --silver-chalise: #b2b2b2;
  --blue-cool: #acc4d7;
  --primary-font-family: "Cormorant", serif;
  --secondary-font-family: "Open Sans", sans-serif;
  --heading-font-weight: 600;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font-family) !important;
  font-weight: var(--heading-font-weight) !important;
  color: var(--fiord) !important;
}

p.para,
p,
.para {
  font-family: var(--secondary-font-family) !important;
}

ul {
  list-style-type: none !important;
}

a {
  text-decoration: none !important;
}

.bg-fiord {
  background-color: var(--fiord) !important;
}

.bg-blue-cool {
  background-color: var(--blue-cool) !important;
}

.bg-scorpion {
  background-color: var(--scorpion) !important;
}

.bg-orange {
  background-color: var(--orange) !important;
}

.bg-silver-chalise {
  background-color: var(--silver-chalise) !important;
}

.text-scorpion {
  color: var(--scorpion) !important;
}

.text-fiord {
  color: var(--fiord) !important;
}

.text-blue-cool {
  color: var(--blue-cool) !important;
}

.text-silver-chalise {
  color: var(--silver-chalise) !important;
}

.text-orange {
  color: var(--orange) !important;
}

.text-font-family-primary {
  font-family: var(--primary-font-family) !important;
}

.text-font-family-secondary {
  font-family: var(--secondary-font-family) !important;
}

.mega-menu {
  height: 50vh;
  width: 96vw;
  background-color: red;
  position: absolute;
  display: none;
}

#megaMenu1 {
  top: 6vh;
  left: -50vw;
}

#megaMenu2 {
  top: 6vh;
  left: -55vw;
}

.nav-item:hover .mega-menu {
  display: block;
}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .mega-menu {
    width: 93vw;
  }

  #megaMenu1 {
    top: 7.3vh;
  }

  #megaMenu2 {
    top: 4.3vw;
    left: -58vw;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1366px) {
  .mega-menu {
    width: 93vw;
  }

  #megaMenu1 {
    top: 5.3vh;
  }

  #megaMenu2 {
    top: 3.3vw;
    left: -55vw;
  }
}
